.head { margin-top: 2%;
padding: 10px solid black;
}
.bas { font-size: 1.7em ;
  font-style: italic;
  margin-left: 2%;

text-decoration:none;
}
.blk { width: 5%;
float: left;}
.ytb { margin-top: 0.7%;

}
.insta,.fcbk,.edpg,.ytb { width: 5%;
  float: right;
  margin-left:  1%
}
.social { float: right;
  width: 40%

}
